<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>SendMessage</Name>
    <Port>0</Port>
    <RemoteHostName>192.168.1.110</RemoteHostName>
    <RemotePort>12345</RemotePort>
  </TransportConfiguration>
</TransportConfigurationSettings>